.container{
    display: flex;
    background-color: #000F4D;
    min-height: 95vh;
    margin: 20px;
    border-radius: 10px;
    /* border: 10px solid pink; */
    align-items: center;
}

.container-logoBoxIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
