:root {
  --TOPBAR-HEIGHT: 80px;
}

.topbar-container {
  position: fixed;
  width: 100%;
  height: var(--TOPBAR-HEIGHT);
  z-index: 100;
  background-color: var(--NAV-BAR-COLOR);
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
}

.topbar-logo {
  margin-right: auto;
}

.topbar-logo-image {
  width: 100px;
  height: 70px;
}

.topbar-search {
  margin-right: 2rem;
}

.topbar-search-input {
  padding: .8rem;
  font-size: 1rem;
  width: 15rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}