.user-modal-avatar {
  text-align: center;
}

.user-modal-Icon-img {
  width: 150px;
  height: 150px;
}

.user-modal-p
{
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.modal-body div
{
  margin: 1rem 0;
  width: 100%;
}

.user-modal-input
{
  width: 95%;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  outline: none;
}

.user-modal-input:focus {
  background-color: #41A0B511;
}

.user-modal-status input
{
  margin-right: 0.5rem;
}

.user-modal-status span
{
  margin-right: 1rem;
}

.footer {
  width: 100%;
  text-align: end;
}

.user-modal-cancel-button,
.user-modal-save-button {
  margin-right: 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0, 0.5) 0px 2px 6px 0px;
  min-width: 7rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.user-modal-cancel-button {
  background-color: red;
}

.user-modal-save-button {
  background: linear-gradient(270.23deg, #41A0B5 2.51%, #5F1F8B 100.92%, #8730DF 100.93%);
}

.user-modal-save-button:hover,
.user-modal-cancel-button:hover {
  transform: scale(1.1);
}

.text-danger {
  border-top: 1px solid red;
  margin: 0!important;
  color:red;
}

.text-danger::before {
  font-family: FontAwesome;
  content: '\f071';
  margin-right: 0.5rem;
}

